{% extends 'master.html'%}

{% block content %}
<br>
<!-- <div class="media">
    <div class="media-right">
      <a href="#">
        <img class="d-block w-100" src='/static/images/cafe.jpg' height="500px" width="100%" style="padding: 5px;" alt="image">
      </a>
    </div>
    <div class="media-body">
      <p style="padding: 10px;">Indulge your taste buds with Foodie Heaven, your ultimate destination for culinary delights delivered
        to your doorstep. Established in 2024, we are passionate about connecting you with a diverse array of
        flavors. Our team is dedicated to delivering not just meals, but experiences that celebrate the joy of
        good food. <br></p>
    </div>
  </div> -->

  <div class="media">
    <img class="d-block" src='/static/images/cafe.jpg' height="500px" width="auto" alt="Image">
    <div class="media-body" style="padding: 15px;">
      <h4 class="mt-0">About Us</h4>
  
    <p>Indulge your taste buds with Foodie Heaven, your ultimate destination for culinary delights delivered
        to your doorstep. Established in 2024, we are passionate about connecting you with a diverse array of
        flavors. Our team is dedicated to delivering not just meals, but experiences that celebrate the joy of
        good food. <br></p>
    <p>At Foodie Heaven, we source the finest ingredients and partner with local chefs to bring you
        a menu that caters to every craving. <br></p>


    <p>Join us in savoring the convenience and delight of a seamless food
        ordering experience. Your satisfaction is our recipe for success!</p>


    <p>Forget about the daily stress and come relax with us. After tasting any of our menu items,
        you will never want to leave!"</p>

</div>
</div>
{% endblock %}